@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 1%;
}

.box {
    height: fit-content;
    border: solid 2px ;
}

.conteneur {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;

}

.haut {
    display: flex;
    justify-content: space-between;
    
}

.hautDroit {
    display: flex;
    align-items: center;
}
.dessusCadre {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}


.input-field {
    margin-left: 10%;
}

.barreSearch {
    width: 100%;
    margin-top: -5%;
}

label{
    width: 100%;
}

.deroulant {
    border-bottom: 2px solid #d3d3d3;
   
}

.deroulant2 {
    border-bottom: 2px solid #d3d3d3;
    width: 100%;
    margin-bottom: 15%;
    padding-bottom: 2%;
}


.txt{
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ETOILES */
.checked{
    color: rgb(0, 0, 0);
}
span{
    color: rgb(197, 197, 197);
}
/* fin etoiles */


.basCadre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages {
    display: flex;
    justify-content: space-between;
}

.dimension {
    width: 45%;
    margin-top: 4%;
}


/* footer */
.menu,.menu1, .menu2{
    display: inline-block;
    padding: 3%;
    width: 7%;
    text-align: center;
}

.menu1 {
    background-color: #222222;
    color: white;
}

.menu:hover{
    background-color: #222222;
    color: white;
}

.footer_menu{
    list-style: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* fin footer */
 


/* SEARCH BAR */
.input-field {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin-left: 30%;
   
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    color: #000000;
    cursor: text;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #000000;
    box-shadow: none;
    color: #000000;

}

.barreTaille {
    width: 100%;
}

input:focus + label{
    color: #d3d3d3;
    line-height: 1px;
    transition: 0.3s;

}

input:focus{
    border-bottom: 2px solid #d3d3d3;
}

.input-field input:not(:focus) + label {
    top: 0; 
    line-height: 44px; 
    color: #000000;
    transition: 0.3s; 
    z-index: 1;


} 


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
}

.prix {
    display: flex;
    justify-content: space-between;
}



/* BURGER MENU */
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    opacity: 0;
    margin-top: 2%;
    margin-left: 1%;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 30px;
    cursor: pointer;
    z-index: 11;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #222222;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #222222;
    box-shadow: 2px 2px 6px rgba(206, 204, 204, 0.4);
    transition-duration: .25rgba(255, 254, 254, 0.4);
    z-index: 5;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    z-index: 5;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
